@import "tailwindcss";

/* Font sizes */
.text-size-small {
  font-size: 14px;
  line-height: 1.4;
}

.text-size-medium {
  font-size: 16px;
  line-height: 1.5;
}

.text-size-large {
  font-size: 18px;
  line-height: 1.6;
}

/* Dark mode transition */
html {
  transition: color 0.3s ease, background-color 0.3s ease;
}

.editor-container {
  position: relative;
}

.editor-input {
  min-height: 150px;
  resize: none;
  font-size: 15px;
  caret-color: rgb(5, 5, 5);
  position: relative;
  tab-size: 1;
  outline: 0;
  padding: 15px 10px;
}

.editor-placeholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 15px;
  left: 10px;
  font-size: 15px;
  user-select: none;
  display: inline-block;
  pointer-events: none;
}